/* Colors in CSS */

body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: paleturquoise;
    color: darkblue;
}

p {
    /* color: rgba(red, green, blue, alpha); [alpa = transparency value] */
    color: black;
}
